 body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
}

.box {
    height: 330px;
    width: 555px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    margin-right: 150px;
}

.box2 {
    height: 270px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    margin-right: 200px; /* Mengurangi nilai margin-right menjadi 100px */
}


.box3 {
    height: 200px;
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    margin-right: 150px;
}

.dua{
    font-weight: normal;
}

ol{
    list-style-position: inside;
    padding-left: 5px;
}

.gender {
    font-weight: bold;
}

.input-with-icon {
    position: relative;
}

.input-with-icon .input-icon {
    position: absolute;
    top: 10px; /* Sesuaikan posisi vertikal gambar */
    right: 10px; /* Sesuaikan posisi horizontal gambar */
    width: 20px; /* Sesuaikan lebar gambar */
    height: 20px; /* Sesuaikan tinggi gambar */
}

/* Style input sesuai kebutuhan Anda */
.input-with-icon input[type="text"] {
    width: 523px; /* Sesuaikan lebar input */
    height: 30px;
    padding-right: 30px; /* Jarak antara teks dengan gambar pulpen */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button1{
    top: 10px;
}
  
#download {
    background: #1E90FF;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 4px;

    /* Menjadikan elemen posisi relatif */
    position: relative;

    /* Menengahkan horizontal */
    left: 50%;
    transform: translateX(-50%);
}

#download:hover {
    background: #17c;
}

#upload{
    background: #1E90FF;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 13px;
    border-radius: 2px;
}

#upload:hover {
    background: #17c;
}

#cancel{
    background: white;
    border-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 13px;
    border-radius: 2px;
}

#cancel:hover {
    background: lightgrey;
}
    /* Ganti nilai margin-left sesuai kebutuhan */
#resultContent.visible {
    display: block;
}

#resultContent.hidden {
    display: none;
}

/* Ganti nilai margin-left sesuai kebutuhan */
#resultContent {
    margin-left: -35px; /* Ubah nilai ini untuk mengatur jarak ke kiri */
}

#statusResult{
    text-align: center;
    font-size: 18px;
}

#bmiResult{
    text-align: center;
    font-size: 40px;
}

#resultElement{
    text-align: center;
    font-size: 15px;
}

#konsultasi,
#registrasi {
    background: #1E90FF;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 4px;
}
.appdownload{
   /* Menjadikan elemen posisi relatif */
   position: relative;

   /* Menengahkan horizontal */
   left: 15%;
}

.app{
    /* Menjadikan elemen posisi relatif */
   position: relative;

   /* Menengahkan horizontal */
    left: 5%;
    font-weight: bold;
    font-size: 25px;
}